<aside>
    <div class="p-15 mt-25">
        <nav class="grid grid-cols-1 justify-items-center justify-center space-y-6 place-content-center text-center text-2xl">
            <a href="#">Dashboard</a>
            <a href="{{ path('app_reservation_new') }}">Reservations</a>
            <a href="{{ path('app_all_chargingstations') }}">Chargingstations</a>
            <a href="{{ path('app_all_drivers') }}">Drivers</a>
            <a href="{{ path('app_all_cars') }}">Cars</a>
        </nav>
    </div>
</aside>