{% extends 'base.html.twig' %}

{% block title %}EV box: Dashboard{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Dashboard</h1>
    </div>
    <div>
        <p>Make a new reservation</p>
    </div>
{% endblock %}