<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to EV box{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-zinc-50 text-sky-900 p-0 m-0">
        <div class="flex flex-row justify-around min-h-screen relative left-0 top-0 p-0 m-0">
            <div class="flex items-start justify-center basis-1/5 bg-teal-300 p-25 m-0 shadow-lg">
                {{ include('main/_asidebar.html.twig') }}
            </div>
            <div class="flex flex-col justify-around min-h-screen relative basis-4/5 p-10">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>

